@import "lib/vars";
@import "lib/mixins";
@import "lib/reboot";
@import "lib/fontawesome/font-awesome";
@import "lib/fontface";
@import "lib/keyframes";






* {
    //border: 1px solid $corporateColor;
}

.swiper-container {
    width: 100%;
    height: 300px;
}

html,
body {
    font-size: $base * 2;
    font-family: $font_family_base;
    line-height: $base * 3;

    min-height: 100vh;
    scroll-behavior: smooth;
}

h1 {
    font-size: $base * 5;
    margin-bottom: $base * 7;
    line-height: $base * 7;
}

h2 {
    font-size: $base * 3;
    margin-bottom: $base * 3;

}

h3 {
    font-size: $base * 2;
    margin: $base * 4 0 $base * 2 0;

}


.ul_styled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ul_italic {
    text-align: center;
    font-style: italic;
    font-size: $base* 3;
    line-height: $base * 4;
    margin: $base* 3 0;
}



a {
    width: 100%;
}




.layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 350px calc(100% - 350px - 350px) 350px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0;

    .header {
        grid-area: 1 / 1 / span 1 / -1;
    }

    .sidebar {
        grid-area: 2 / 1 / span 2 / span 1;
    }

    .main {
        grid-area: 2 / 2 / span 1 / span 1;
    }

    .full_screen{
        grid-area: 2 / 2 / span 1 / -1;

    }

    .tiny {
        grid-area: 2 / 3 / span 1 / span 1;
    }

    .footer {
        grid-area: 3 / 2 / span 1 / -1;
    }
}

.header {
    display: flex;
    justify-content: center;
    padding: $base * 2 $base * 3;
    background-color: $body_bg;
    border-bottom: 1px solid $corporateColorFilmin;
    background-color: $body_color;

    .header_holder {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_brand {
            img {
                width: 100px;
            }
        }

        .social {
            display: flex;

            .instagram,
            .facebook,
            .twitter {
                .fa {
                    color: white;
                    font-size: $base * 3;
                    margin-left: $base * 2;
                    transition: ease 0.5s;

                    &:hover {
                        color: $corporateColorFilmin;
                        transition: ease 0.5s;
                    }
                }
            }
        }
    }
}

.sidebar {
    font-size: 14px;
    user-select: none;
    position: fixed;
    width: 350px;
    height: calc(100% - 60px);
    background-color: $body_color;
    color: $body_bg;


    p{
        margin: 0;
    }


    nav {
        padding-top: $base* 4;
        overflow-y: scroll;
        height: 100%;
        background-color: $body_color;

        .menu_group {
            margin-bottom: $base * 3;

            .menu_tagline {
                font-size: 14px;
                text-transform: uppercase;
                user-select: none;
                
                padding-left: $base * 3;
            }

            .menu {
                @extend .ul_styled;

                .menu_item {
                    font-weight: 600;
                    

                    &.opened {
                        .menu_item_heading {
                            background-color: #22223A;

                            .fa {
                                transform: rotate(0deg);
                                transition: ease 300ms;
                                
                            }
                        }

                        .menu_item_submenu {
                            display: block;
                        }
                    }

                    .menu_item_heading {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: $base * 1.5 $base * 3 $base * 1.5 $base * 5;

                        a {
                            color: inherit;
                        }

                        .fa {
                            transform: rotate(-90deg);
                            transition: transform ease 300ms;
                        }

                        &:hover,
                        &.active {
                            background-color: $corporateColorFilmin;
                            color: $corporateColorBg;
                        }
                    }

                    .menu_item_submenu {
                        display: none;

                        .submenu {
                            margin: 0.5rem 0;
                            margin-left: $base * 6;


                            @extend .ul_styled;

                            .submenu_item {
                                padding: $base * 1.5 $base;
                                border-left: 3px solid #eee;

                                a {
                                    color: inherit;
                                    display: block;
                                }

                                &:hover,
                                &.active {
                                    border-left: 3px solid $corporateColorFilmin;
                                    color: $corporateColorFilmin;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}

.main {
    padding: $base * 10 $base * 15 $base * 10 $base * 10;

    section {
        margin-top: $base * 7 ;

        span {
            font-weight:bold ;
        }

       
        li {

            margin-bottom: $base * 2;
        }
    }
}

.section_image {
    margin: 2rem 0;

    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    figcaption {
        font-size: 12px;
        text-align: right;
        font-style: italic;
    }
}



.section_youtube{
    
    iframe{
        width: 100%;
        height: 360px;
    }
}

.section_video{
    margin: $base * 4 0 0 0;
}


.image_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        width: 50%;
        &:first-child{
            margin-right: $base;
        }
    }

    
}

.tiny {
    padding: $base * 9 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    



    .tiny_heading {
        text-transform: uppercase;
        color: #aaa;
    }

    .tiny_items {
        @extend .ul_styled;

        .tiny_item {
            border-left: 2px solid #aaa;
            padding: $base $base * 2;
            margin-left: $base * 2;
            color: #aaa;
            font-size: 14px;
            user-select: none;
            cursor: pointer;

            &.active {
                border-left: 2px solid black;
                color: black;
            }

            a {
                color: inherit;
                user-select: none;
            }
        }
    }
}

.footer {
    margin: 0 $base * 4;
    padding: $base * 3;
    border-top: solid 1px $body_color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    .team{
        font-size: 12px;
    }
}




@media print {
    header, footer, aside{
        display: none;
        
    }

    .layout {
        display: block;

        .main {
            margin: 0;
            padding: 0;
        }
    
    }

    p, li{
        font-size: 10pt;
        line-height: 12pt;
    }

    h1{
        margin: 0;  //NO FUNCIONAAAAAA
    }

    @page {
        margin: 2cm 4cm;
      }
    
}